@import 'white-space.css'
@import 'mixins'

body
  font: normal 16px "Lato", sans-serif
  color: colors.text
  
form
  dt
    padding: 0 0 5px 0;
  dd
    padding: 0 0 20px 0
  input[type="text"],
  input[type="date"],
  input[type="url"]
    width: 100%
    height: 30px
    padding: 5px 8px
    border: 1px solid colors.border
    border-radius: 6px
    box-sizing: border-box

main
  width: 800px
  padding: 25px 40px
  margin: 0 auto
  background: colors.bg
  
h1
  padding: 0 0 25px 0
  font-size: 2em

ul
  padding: 0 0 40px 0
  margin: 0 0 0 -20px
  li
    display: inline-block
    width: 20%
    padding: 0 0 25px 20px
    box-sizing: border-box
    vertical-align: top
    img
      display: block
      width: 100%
      margin: 0 0 10px 0
    h2, h3, p
      padding: 0 0 5px 0
    h2
      font-size: 1.5em
    h3
      font-size: 1.25em

.button
  button()
  
    