colors = {
  text: #333,
  bg: #fff,
  highlight: #ffff9d,
  border: #888,
  delete: #b00b00,
  button: {
    text: #fff,
    bg: #00a388
  }
}

appearance(val = none)
  appearance: val
  -webkit-appearance: val
  -moz-appearance: val

button()
  position: relative
  display: inline-block
  padding: 10px 25px
  font-size: 18px
  text-decoration: none
  color: colors.button.text
  cursor: pointer
  border: none
  border-radius: 8px
  background-color: colors.button.bg
  outline: none
  appearance()
  transition: box-shadow 200ms ease, top 200ms ease, left 200ms ease, color 200ms ease
  box-shadow: 2px 2px 0 2px darken(colors.button.bg, 5)
  &:hover
    color: colors.highlight
  &:active
    top: 2px
    left: 2px
    box-shadow: 1px 1px 0 1px darken(colors.button.bg, 5)